body {
    padding-top: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.location {
    display: flex;
    gap: 0.5rem;
    color: grey;
}

.card-btn {
    width: 18rem;
}