body {
    padding-top: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.location,
.location-indiv {
    display: flex;
    gap: 0.5rem;
}

.location {
    color: grey;
    margin-top: 0;
}

.card-title-properties {
    margin-bottom: 0.2rem;
}

.property-price {
    background-color: lightskyblue;
    width: 7rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;
}

.card-btn {
    width: 18rem;
}