{% extends 'base.html' %}

{% block main %}
<div class="grid">
    {% for prop in props%}
    <div class="card">
        <img class="card-img-top" src="{{ url_for('get_image', filename=prop.filename)}}" alt="{{prop.filename}}">
        <div class="card-body">
            <h5 class="card-title">{{prop.title}}</h5>
            <p class="card-text">{{prop.location}}</p>
            <p class="property-price">${{prop.price}}</p>
            <a href="{{url_for('property', propertyid=prop.id)}}" class="btn btn-primary">View Property</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}