{% extends 'base.html'%}

{% block main %}
<div class="card card-img-left">
    <img class="card-img-top" src="{{ url_for('get_image', filename=property.filename)}}" alt="{{property.filename}}">
    <div class="card-body">
        <h5 class="card-title">{{property.title}}</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
        </svg>
        <p class="card-text">{{property.location}}</p>
        <p class="property-price">${{property.price}}</p>
        <a href="" class="btn btn-primary">Email Realtor</a>
    </div>
</div>
{% endblock %}